.login-card{
    background:#982222 ;
    box-shadow: 0 4px 8px rgba(152, 34, 34, 0.6);
}

/*#login .input-group{*/
/*    box-shadow: inset 1px 1px 1px 2px #cbced1, inset -6px -6px 6px #fff;*/
/*}*/

.input-group:focus-within{
    border: 2px solid #007bff;
}

#login .form-control:focus {
    outline: none;
    box-shadow: none;
}

a{
    text-decoration: none;
}

.navbar{
    background: #982222;
}

.navbar .count-cart{
    display: inline-block;
    padding: 2px 7px;
    border-radius: 5%;
    font-size: 14px;
}

.navbar-nav .nav-link{
    display: inline-block;
}

.navbar .row .col:first-child{
    margin-right: 40px;
}

.navbar .row .col:nth-child(2){
    padding-right: 30px;
}

.after-navbar{
    font-size: 0.8em;
}

.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--af-white);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: var(--night-rider);
}

#shop,
#menu,
#checkout{
    margin-top: 9rem;
}

#shop .card{
    background:#982222;
}

#shop .card-title{
    font-size: 3em;
    /*letter-spacing: 15px;*/
    line-height: 1em;
}

#shop .shop-name{
    font-size: 1.2em;
    letter-spacing: 7px;
}

#shop .tagline:before{
    content: '';
    /*rotate: 90deg;*/
    background: #fff;
    height: 7px;
    width: 100%;
    margin-top: 20px;
    opacity: 0.5;
}

#shop .btn {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 2px 7px;
    border-radius: 100px;
    background: #0d6efd;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100px;
}

#shop .btn > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}

#shop .btn:hover svg {
    transform: translateX(5px);
}

#shop .btn:active {
    transform: scale(0.95);
}

#menu .CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #982222;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

#menu .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

#menu .icon {
    border-radius: 1px;
}

#menu .text {
    height: 100%;
    width: fit-content;
    /*border:1px solid black;*/
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .5s;
    font-size: 0.9em;
    font-weight: 600;
}

#menu .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

#menu .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
}

#menu .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

#checkout .Btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff1b1b;
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

#checkout .svgIcon {
    width: 16px;
}

#checkout .svgIcon path {
    fill: white;
}

#checkout .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
}

@media (min-width: 0px) {
    #menu .card .row{
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
    }

    #menu .card-title{
        font-size: 1em;
    }

    #menu .card-desc{
        font-size:0.8em ;
    }

    #checkout .row .card{
        font-size:0.6em ;
    }


}

@media (min-width: 576px) {
    .navbar .row .col:nth-child(1){
        margin-right: 40px;
    }

    #shop img{
        display: none;
    }

    #shop .shop-name{
        font-size: 0.7em;
    }

    #menu .card-title{
        font-size: 1em;
    }

    #menu .card-desc{
        font-size:0.8em ;
    }

    #menu .card .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #checkout .row .card{
        font-size: 0.8em;
    }

    #checkout .row .img-panel{
        width: 10%;
    }
}

@media (min-width: 768px) {
    .navbar .row .col:nth-child(1){
        margin-right: 50px;
    }

    #shop img{
        display: block;
    }

    #shop .card-title{
        font-size: 2.5em;
    }

    #shop .shop-name{
        font-size: 0.8em;
    }

    #menu .card-title{
        font-size: 1em;
    }

    #menu .card-desc{
        font-size:0.8em ;
    }

    #checkout .row .card{
        font-size: 1em;
    }

    #checkout .row .img-panel{
        width: 10%;
    }
}

@media (min-width: 992px) {
    .navbar .row .col:first-child{
        margin-right: 20px;
    }

    .navbar .row .col:nth-child(1){
        margin-right: 60px;
    }

    #shop img{
        display: block;
    }

    #shop .card-title{
        font-size: 2.2em;
    }
}

